In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [11]:
cd C:\Users\Jammy\OneDrive\Desktop\Data analysis PDFs\ML\Projects for Analysis\CreditCardinfo\CreditCard

C:\Users\Jammy\OneDrive\Desktop\Data analysis PDFs\ML\Projects for Analysis\CreditCardinfo\CreditCard

In [12]:
ccd = pd.read_csv("creditcard.csv")

In [13]:
ccd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [14]:
ccd.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [15]:
ccd.Class.value_counts()

0    284315
1       492
Name: Class, dtype: int64

#UNBALANCED DATASET

###### 0 = Normal Transaction

###### 1 = Fraudulant Transaction

Separating Fradulant and Normal Transactions

In [17]:
legit = ccd[ccd.Class == 0]
Fraud = ccd[ccd.Class == 1]

In [18]:
legit.shape

(284315, 31)

In [19]:
Fraud.shape

(492, 31)

### Amount Column

In [21]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [23]:
Fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

###### Under Sampling

Building a sample dataset containing similar distribution of normal transaction and Fradulant Transactions

Number of Fradulant Transactions

Using Function Sample

In [24]:
legit_sample = legit.sample(n = 492)

#### Concating Two Dataframes

In [25]:
new_ccd = pd.concat([legit_sample,Fraud],axis = 0)

In [26]:
new_ccd.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
42396,41088.0,0.911781,-0.774959,-1.719233,-0.322833,2.000356,3.325187,-0.053315,0.679434,0.014287,...,0.011056,-0.460945,-0.336746,1.076030,0.742063,0.546704,-0.091829,0.032190,221.00,0
102457,68212.0,1.487021,-1.072903,0.305312,-1.504080,-1.395459,-0.524906,-1.055509,-0.046381,-1.985370,...,-0.187902,-0.228225,-0.015631,-0.024618,0.376967,-0.202395,0.020213,0.007298,20.00,0
69947,53646.0,-0.650173,0.736901,-1.236481,0.254904,1.948636,3.768077,0.405038,1.243146,-0.769204,...,0.152945,0.220033,0.251492,1.004421,-0.172559,-0.249395,0.291609,0.202075,153.88,0
202122,134181.0,0.149986,0.170176,-0.454786,-2.583153,0.671555,-0.633868,0.772609,-0.395526,-0.612892,...,0.444185,1.421609,-0.222909,0.102208,-0.673259,-0.238730,0.153517,0.070700,15.00,0
173153,121368.0,2.283598,-0.789613,-1.557527,-1.042386,-0.250553,-0.649008,-0.459353,-0.199400,-0.117034,...,-0.152602,-0.444221,0.182455,-1.107799,-0.093381,-0.333035,-0.034150,-0.072069,4.95,0

In [27]:
new_ccd.Class.value_counts()

0    492
1    492
Name: Class, dtype: int64

In [28]:
new_ccd.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94165.329268,-0.030780,-0.027662,0.004786,-0.005939,0.094628,-0.022418,0.008827,-0.021048,-0.065740,...,0.018650,-0.016777,0.008498,0.003096,-0.037117,-0.017012,0.045554,0.006294,0.011240,86.488374
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

#### Splitting Dataset into independent and target columns

In [29]:
X = new_ccd.drop("Class",axis = 1)
Y = new_ccd.Class

In [30]:
X.shape

(984, 30)

In [31]:
Y.shape

(984,)

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 2)

#### ML Model

In [36]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [44]:
model.fit(X_train,Y_train)

LogisticRegression()

###### Model Evaluation

In [45]:
from sklearn.metrics import accuracy_score

In [46]:
model.score(X_train,Y_train)

0.9212198221092758

In [47]:
model.score(X_test,Y_test)

0.9187817258883249

###### Predictions

In [48]:
X_train_prediction = model.predict(X_train)

In [52]:
accuracy_train = accuracy_score(X_train_prediction,Y_train)
accuracy_train

0.9212198221092758

In [53]:
X_test_prediction = model.predict(X_test)

In [54]:
accuracy_test = accuracy_score(X_test_prediction,Y_test)
accuracy_test

0.9187817258883249